Repository econia-labs/emojicoin-dot-fun, pull requests merged in 2025-02, with the labels that each got.

#511 [ECO-2669] Fix the aliased path resolution issues in the TypeScript SDK
  src/typescript/frontend/src/app/home/page.tsx
  src/typescript/frontend/src/app/pools/api/getPoolDataQuery.ts
  src/typescript/frontend/src/app/stats/page.tsx
  src/typescript/frontend/src/components/pages/pools/components/pools-table/index.tsx
  src/typescript/frontend/src/lib/queries/sorting/query-params.ts
  src/typescript/frontend/src/lib/routes/home-page-params.ts
  src/typescript/frontend/src/types/server-only.d.ts
  src/typescript/pnpm-lock.yaml
  src/typescript/sdk/.eslintrc.js
  src/typescript/sdk/package.json
  src/typescript/sdk/src/client/emojicoin-client.ts
  src/typescript/sdk/src/const.ts
  src/typescript/sdk/src/indexer-v2/const.ts
  src/typescript/sdk/src/indexer-v2/index.ts
  src/typescript/sdk/src/indexer-v2/queries/app/arena.ts
  src/typescript/sdk/src/indexer-v2/queries/app/dexscreener.ts
  src/typescript/sdk/src/indexer-v2/queries/app/home.ts
  src/typescript/sdk/src/indexer-v2/queries/app/market.ts
  src/typescript/sdk/src/indexer-v2/queries/app/pools.ts
  src/typescript/sdk/src/indexer-v2/queries/test/index.ts
  src/typescript/sdk/src/indexer-v2/types/common.ts
  src/typescript/sdk/src/queries/index.ts
  src/typescript/sdk/src/types/server-only.d.ts
  src/typescript/sdk/tests/e2e/emoji-data.test.ts
  src/typescript/sdk/tests/e2e/queries/client/liquidity-pools.test.ts
  src/typescript/sdk/tests/e2e/queries/liquidity-pools.test.ts
  src/typescript/sdk/tests/e2e/queries/price-feed.test.ts
  src/typescript/sdk/tests/e2e/queries/sorted/utils.ts
  src/typescript/sdk/tsconfig.json
  src/typescript/sdk/tsup.config.ts
Labels: urgency-low, size-small

#417 [ECO-2501] Fix the WSOD with Aptos Connect adapter on Firefox/Safari
  src/typescript/frontend/src/components/pages/emojicoin/components/chat/ChatBox.tsx
  src/typescript/frontend/src/components/pages/emojicoin/components/trade-emojicoin/SwapButton.tsx
  src/typescript/frontend/src/components/pages/launch-emojicoin/hooks/use-register-market.ts
  src/typescript/frontend/src/components/pages/launch-emojicoin/memoized-launch/index.tsx
  src/typescript/frontend/src/components/pages/metadata/MetadataPage.tsx
  src/typescript/frontend/src/components/pages/pools/components/liquidity/index.tsx
  src/typescript/frontend/src/context/wallet-context/AptosContextProvider.tsx
  src/typescript/frontend/src/context/wallet-context/utils.ts
  src/typescript/frontend/src/lib/hooks/queries/use-wallet-balance.ts
  src/typescript/frontend/src/lib/hooks/transaction-builders/use-chat-builder.ts
  src/typescript/frontend/src/lib/hooks/transaction-builders/use-liquidity-builder.ts
  src/typescript/frontend/src/lib/hooks/transaction-builders/use-market-metadata-builder.ts
  src/typescript/frontend/src/lib/hooks/transaction-builders/use-market-register-builder.ts
  src/typescript/frontend/src/lib/hooks/transaction-builders/use-swap-builder.ts
  src/typescript/frontend/src/lib/hooks/transaction-builders/use-transaction-builder.ts
  src/typescript/frontend/src/lib/hooks/use-account-sequence-number.ts
  src/typescript/frontend/src/lib/store/event/event-store.ts
  src/typescript/frontend/src/lib/store/event/local-storage.ts
  src/typescript/frontend/src/lib/store/event/types.ts
  src/typescript/frontend/src/lib/store/websocket/store.ts
  src/typescript/frontend/src/lib/utils/server-logs/log-to-server.ts
  src/typescript/frontend/src/lib/utils/server-logs/wrapper.ts
  src/typescript/pnpm-lock.yaml
  src/typescript/sdk/package.json
  src/typescript/sdk/src/const.ts
  src/typescript/sdk/src/emojicoin_dot_fun/contract-apis/emojicoin-dot-fun.ts
  src/typescript/sdk/src/emojicoin_dot_fun/index.ts
  src/typescript/sdk/src/emojicoin_dot_fun/payload-builders.ts
  src/typescript/sdk/src/emojicoin_dot_fun/serialize-args-to-json.ts
  src/typescript/sdk/src/emojicoin_dot_fun/serialize-entry-args-to-json.ts
  src/typescript/sdk/src/indexer-v2/json-bigint.ts
  src/typescript/sdk/src/markets/utils.ts
  src/typescript/sdk/tests/unit/serialize-entry-args-to-json.test.ts
Labels: urgency-low, size-big

#508 [ECO-2664] Add home page arena update
  cfg/cspell-frontend-dictionary.txt
  src/typescript/frontend/next.config.mjs
  src/typescript/frontend/src/app/home/HomePage.tsx
  src/typescript/frontend/src/app/home/page.tsx
  src/typescript/frontend/src/app/layout.tsx
  src/typescript/frontend/src/components/RandomEmojiBg.tsx
  src/typescript/frontend/src/components/button/index.tsx
  src/typescript/frontend/src/components/button/types.ts
  src/typescript/frontend/src/components/pages/home/components/arena-card/index.tsx
  src/typescript/frontend/src/components/pages/home/components/arena-card/module.css
  src/typescript/frontend/src/components/pages/home/components/emoji-table/index.tsx
  src/typescript/frontend/src/components/pages/home/components/table-card/TableCard.tsx
  src/typescript/frontend/src/components/pages/launch-emojicoin/animated-emoji-circle/index.tsx
  src/typescript/frontend/src/router/routes.ts
Labels: urgency-high

#512 [ECO-2588] Add market page banner and navigation link to arena
  src/typescript/frontend/src/app/market/[market]/page.tsx
  src/typescript/frontend/src/components/Badge.tsx
  src/typescript/frontend/src/components/header/components/menu-item/index.tsx
  src/typescript/frontend/src/components/header/components/menu-item/types.ts
  src/typescript/frontend/src/components/header/components/mobile-menu-item/index.tsx
  src/typescript/frontend/src/components/header/components/mobile-menu-item/types.ts
  src/typescript/frontend/src/components/header/components/mobile-menu/index.tsx
  src/typescript/frontend/src/components/header/constants.ts
  src/typescript/frontend/src/components/header/index.tsx
  src/typescript/frontend/src/components/pages/emojicoin/ClientEmojicoinPage.tsx
  src/typescript/frontend/src/components/pages/emojicoin/types.ts
  src/typescript/frontend/src/components/svg/icons/LogoIcon.tsx
  src/typescript/frontend/src/router/routes.ts
Labels: urgency-high

#617 fix(ECO-2848): Update `next.config.mjs` `experimental.staleTimes` to remove opinionated default caching behavior
  src/typescript/frontend/next.config.mjs
Labels: arena

#630 chore(ECO-2875): Miscellaneous clean-up and stylistic fixes for consistency
  src/typescript/frontend/src/components/pages/arena/ArenaClient.tsx
  src/typescript/frontend/src/components/pages/arena/PriceChart.tsx
  src/typescript/frontend/src/components/pages/arena/tabs/EnterTab.tsx
  src/typescript/frontend/src/components/pages/arena/tabs/index.tsx
  src/typescript/frontend/src/components/pages/arena/utils.tsx
Labels: arena

#624 chore(ECO-2857): Update SDK to match new processor fields
  src/typescript/frontend/src/app/home/HomePage.tsx
  src/typescript/frontend/src/app/home/utils.ts
  src/typescript/sdk/src/indexer-v2/types/index.ts
  src/typescript/sdk/src/indexer-v2/types/json-types.ts
  src/typescript/sdk/src/indexer-v2/types/postgres-numeric-types.ts
  src/typescript/sdk/src/markets/utils.ts
  src/typescript/sdk/src/types/arena-types.ts
  src/typescript/sdk/tests/e2e/arena/general/arena.test.ts
Labels: arena

#656 chore(ECO-2927): Add red envelope bot to `community-projects.json`
  src/typescript/frontend/public/community-projects.json
Labels: community project
